.uas-checkin-status-wrapper {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#505050));
	
/*	Following lines were removed, as the coloring of the page had changed

	border: 5px solid #505050;
	background-color: #222222;
	margin-bottom: 10px;
*/
}

.uas-checkin-status-inner {
	padding: 15px 0 15px 70px;
	font-size: 1.3em;
	font-family: Arial, Helvetica, sans-serif
}

.uas-checkin-status-open .uas-checkin-status-inner { background: transparent url('../images/greenled.png') 10px center no-repeat; }
.uas-checkin-status-closed .uas-checkin-status-inner { background: transparent url('../images/redled.png') 10px center no-repeat; }
.uas-checkin-status-no-connection .uas-checkin-status-inner { background: transparent url('../images/greyled.png') 10px center no-repeat;}
