@charset "UTF-8";
/* CSS Document */

@import "unallocated.css";
@import "reset.css";
@import "skeleton-1040.css";

/* font declarations - use Oswald for headings, Lato for everything else */
@font-face {
    font-family: 'GeosansLight';
        src: url('MSGothic/MSGOTHIC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	width: 50%;
}

@font-face {
    font-family: 'GeosansOblique';
        src: url('MSGothic/MSGOTHIC.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 62.5%;
}
body {
	background: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	color: #000;
}
a:link, a:visited {
	color: #1459FA;
}
a:hover {
	color: #ff4500;
}
h1, h2, h3 {
	font-family: 'GeosansLight', san-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-size: 2rem;
	color: #000;
	letter-spacing: 2px;
	letter-spacing: .2rem;
}
h2 {
	font-size: 18px;
	font-size: 1.8rem;
	margin: 25px 0 15px;
}
h3 {
	font-size: 16px;
	font-size: 1.6rem;
}
.imgR { /* used to float an image to the right */
	float: right;
	padding: 0 0 10px 10px;
}
.imgL { /* used to float an image to the left */
	float: left;
	padding: 0 10px 10px 0;
}
.imgC { /* used to center images */
	margin: 10px auto;
}
img { /* removes borders from images */
	border: none;
}
p { /* puts spacing between lines of text in a paragraph */
	line-height: 1.8;
}
.center { /* centers text */
	text-align: center;
}

/* main navigation */
#nav select {
	display: none;
}

/* flexible images */
img, object {
	max-width: 100%;
	height: auto;
}

/* Mobile Portrait Size and Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	#nav ul {
		display: none;
	}
	#nav select {
		display: inline-block;
		width: 100%;
	}
	option {
		padding-top: 7px;
		padding-bottom: 7px;
		font-size: 15px;
	}  
	
}



/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

