@charset "UTF-8";
/* CSS Document */

@import "unallocated.css";
@import "reset.css";
@import "skeleton-1040.css";

/* font declarations - use Oswald for headings, Lato for everything else */
@font-face 
{
    font-family: 'GermanLight';
        src: url('GermanAuto/din1451alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'GermanOblique';
        src: url('GermanAuto/din1451altG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 62.5%;
}
body {

	background: #333;
	font-family: Arial, sans-serif;

	font-size: 14px;
	font-size: 1.4rem;
	color: #000;
}
a:link, a:visited {
	color: #c48500;
	text-decoration:none;
}
a:hover, li a.active {
	color: #ffaf08;
}

.break a:link, .break a:visited, .break h1, .break h2, .break h3{
	color: #c48500;
	text-decoration:none;
}
.break a:hover, .break a.active 
{
	color: #ffaf08;
}

h1, h2, h3 {
	font-family: 'GermanLight', san-serif;
	text-transform: uppercase;
	font-size: 22px;
	font-size: 2.2rem;
	letter-spacing: 2px;
	letter-spacing: .2rem;
		color: #c48500;
}

.whiteShade h1, .whiteShade h2, .whiteShade h3 {
		color: #ce0c09;
}

/**

.whiteShade a  
{
color: #19871b
}

*/

h2 {
	font-size: 19px;
	font-size: 1.9rem;
}
h3 {
	font-size: 16px;
	font-size: 1.6rem;
}
.imgR { /* used to float an image to the right */
	float: right;
	padding: 0 0 10px 10px;
}
.imgL { /* used to float an image to the left */
	float: left;
	padding: 0 10px 10px 0;
}
.imgC { /* used to center images */
	margin: 10px auto;
}
img { /* removes borders from images */
	border: none;
}
p { /* puts spacing between lines of text in a paragraph */
	line-height: 1.8;
}
.center { /* centers text */
	text-align: center;
}

/* main navigation */
#nav select {
	display: none;
}

/* flexible images */
img, object {
	max-width: 100%;
	height: auto;
}

/* Mobile Portrait Size and Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	#nav ul {
		display: none;
	}
	#nav select {
		display: inline-block;
		width: 100%;
	}
	option {
		padding-top: 7px;
		padding-bottom: 7px;
		font-size: 15px;
	}
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

