@charset "utf-8";
/* CSS Document */

#core   		                 	
{
background-color: #ffffff;
min-height: 400px;
}

#top_zone, #bottom_zone
{
	background: #333;
	height: auto;
	color: #ffaf08;
}

#top_zone a, #bottom_zone a
{
	  text-decoration: none;
	  color: d28e02;
}



#main-nav
{
margin-top:	   .5em;
margin-bottom: .5em;	
}

#front-page-main
{
	box-sizing: border-box;
	padding: 1em;
	background-color: #eeeeee;
}

#front_slideshow
{
		box-sizing: border-box;
			padding: 1em;
		background-color: #eeeeee;
}

#first-break
{
	
}

#first-break-main
{
}

#second-break
{
	height: 150px;	
}

#second-break-main
{
	
}

#front-page-secondary
{
	
}

#front-page-secondary-left
{
		background-color: #eeeeee;
}

#front-page-secondary-right
{
		background-color: #eeeeee;
}

#third-break
{
	
}

#third-break-main
{
	
}

#boxes-box-uas_address_box
{
	
}

#post-script
{
	
}

#post-post-script
{
	
}

#post-post-post-script
{
	
}

.region-sidebar-first
{
margin: 10px;

}

#logoImg
{
    display:block;
	margin: 20px;
	float: left;
	width: auto;
	height: 12.5%;
}



#first-break img, #second-break img
{
width: auto;
width-min: 96px;
width-max: 256px;
height: 96px;
}

.views-row
{
margin-left: auto;
margin-right: auto;
float: left;	
text-align: center;	
}

img
{
	margin: 10px;
}

body
{
	width: 100%;	
}

.leaf, .expanded, .collapsed
{
	height: auto;
	width: auto;
	text-align: center;
	font-size: 20px; 
	float: left;
	display: inline-block;
}

.leaf, .expanded, .collapsed:hover {

}

nav .leaf, nav .expanded, nav .collapsed:visited
{
	color: red;
}

nav .leaf, nav .expanded, nav .collapsed:hover {

}

#boxes-box-uas_address_box 
{
    background: url('../images/logo_inverted.png') no-repeat center top;
	background-size: contain;
    padding-top: 130px;
	margin: 30px;
    text-align: center;
}

#first-break {
 background-color: #888; 
 background: linear-gradient(to bottom,#777777 0%, #888888 100%);
    color: #FFFFFF;
padding-top: .25em;
padding-bottom: .25em;
}

#second-break {
 background-color: #cccccc; 
 background: linear-gradient(to bottom, #bbbbbb 0%, #cccccc 100%);
    color: #000000;
}

#third-break {
 background-color: #cccccc; 
background: linear-gradient(to bottom, #cccccc 0%, #bbbbbb 100%);
    color: #000000;
padding-top: .5em;
padding-bottom: .5em;
}

#front-page-secondary {
    background: #FFFFFF;
}

.know-more-list {
    list-style: none;
}

.know-more-list li {
    float: left;
}

.know-more-list a {
    display: block;
    font-size: 1.3em;
    color: #FFFFFF;
    padding: 10px 0 10px 70px;
}

.know-more-list .know-more-read-faq a 	{ 	background: transparent url('../images/icons/question-mark.png') 10px center no-repeat; }
.know-more-list .know-more-contact a 	{ 	background: transparent url('../images/icons/envelope-icon.png') 10px center no-repeat;}
.know-more-list .know-more-classes a 	{	background: transparent url('../images/icons/graduation-cap.png') 10px center no-repeat; }
.know-more-list .know-more-beginners a 	{ 	background: transparent url('../images/icons/person-icon.png') 10px center no-repeat;}