@charset "utf-8";
/* CSS Document */

#core   		                 	
{
background-color: #ffffff;
min-height: 400px;
}

#top_zone, #bottom_zone
{
	background: #333;
	height: auto;
	color: #ffaf08;
}

#top_zone a, #bottom_zone a
{
	  text-decoration: none;
	  color: #d28e02;
}

#user-bar ul {

}

#front-page-main
{
	box-sizing: border-box;
	padding: 1em;
	background-color: #eeeeee;
}

#front_slideshow
{
		box-sizing: border-box;
			padding: 1em;
		background-color: #eeeeee;
}

#first-break
{
	
}

#first-break-main
{
}

#second-break
{
	height: 150px;	
}

#second-break-main
{
	
}

#front-page-secondary
{
	
}

#front-page-secondary-left
{
		background-color: #eeeeee;
}

#front-page-secondary-right
{
		background-color: #eeeeee;
}

#third-break
{
	
}

#third-break-main
{
	
}

#boxes-box-uas_address_box
{
	
}

#post-script
{
	
}

#post-post-script
{
	
}

#post-post-post-script
{
	
}

.region-sidebar-first
{
margin: 10px;

}

#logoImg
{
    display:block;
}

body
{
	width: 100%;	
}

#main-nav
{

}
#main-nav li
{
	font-size: 1.5em;
	display: inline-block;
	margin: 0;
	padding: 0;
	font-family: "GermanOblique", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#main-nav li a {
	padding: 10px 20px;
	display: block;
}

#main-nav li a:hover {
	color: #FF0000;
}

/* Remove left padding on first nav item to align with site */
#main-nav ul.menu li.first a {
	padding-left: 0;
}

nav .leaf, nav .expanded, nav .collapsed:hover {

}

#boxes-box-uas_address_box 
{
    background: url('../images/logo_inverted.png') no-repeat center top;
	background-size: contain;
    padding-top: 130px;
	margin: 30px;
    text-align: center;
}

#first-break {
 background-color: #888; 
 background: linear-gradient(to bottom,#777777 0%, #888888 100%);
    color: #FFFFFF;
padding-top: .25em;
padding-bottom: .25em;
}

#second-break {
 background-color: #cccccc; 
 background: linear-gradient(to bottom, #bbbbbb 0%, #cccccc 100%);
    color: #000000;
}

#third-break {
 background-color: #cccccc; 
background: linear-gradient(to bottom, #cccccc 0%, #bbbbbb 100%);
    color: #000000;
padding-top: .5em;
padding-bottom: .5em;
}

#front-page-secondary {
    background: #FFFFFF;
}

.know-more-list {
    list-style: none;
}

.know-more-list li {
    float: left;
}

.know-more-list a {
    display: block;
    font-size: 1.3em;
    color: #FFFFFF;
    padding: 10px 0 10px 70px;
}

.know-more-list .know-more-read-faq a 	{ 	background: transparent url('../images/icons/question-mark.png') 10px center no-repeat; }
.know-more-list .know-more-contact a 	{ 	background: transparent url('../images/icons/envelope-icon.png') 10px center no-repeat;}
.know-more-list .know-more-classes a 	{	background: transparent url('../images/icons/graduation-cap.png') 10px center no-repeat; }
.know-more-list .know-more-beginners a 	{ 	background: transparent url('../images/icons/person-icon.png') 10px center no-repeat;}