/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/**
 * 	Colors:
 * 
 *  Background gray: 	#3f3f3f
 *  Dark Gray: 			#222222
 *  Light Gray:			#505050
 *  Gold:				#eba713
 *  OrangeRed:  		#ff4500		
 */


body {
	background-color: #3f3f3f;
	font: 13px/1.5 "Trebuchet MS", Helvetica, sans-serif;
	color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #EBA713;	
}

a:visited, a:link {
	color: #eba713;
	text-decoration: none;
}

a:active {
	color: #ff4500;
}

a:hover {
	text-decoration: underline;
}

/**
 * 	Main menu
 */
.navigation {
    float: left;
}

.navigation ul li {
	list-style: none;
	font-size: 1.5em;
	float: left;
	margin: 0;
	padding: 0;
}

.navigation ul li a {
	display: block;
	padding: 0 15px;
}

.navigation ul li.first a{
	padding-left: 0px;
}

.navigation ul li.active a {
	color: #ff4500;
	text-decoration: none;
}

.navigation ul li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/**
 * 	User menu
 */

.block-system-user-menu {
    float: right;
    margin-bottom: 5px;
}
.block-system-user-menu .block-title {
    display: none;
}

.block-system-user-menu .menu li {
    float: left;
    list-style: none;
}

#zone-user .region-inner {
	padding-top: 10px;
}
.zone-user .block-user {
	float: right;
}

.zone-user .block-user .user-login-block {
	float: left;
	position: absolute;
	right: -10px;
	z-index: 20;
	
	background: #9A9A9A;
	padding: 10px;
	border: 2px solid #222222;
	border-top: none;
}

.block-user-login .block-title {
    display: none;
}

.block-logintoboggan {
	float: right;
}

/**
 * 	Secondary Navigation
 */

.secondary-nav {
	
}

.secondary-nav .menu { 
	list-style: none;
}

.secondary-nav .menu li { 
	list-style-image: none;
	list-style-type: none;
	border-bottom: 1px solid #3F3F3F;
	margin: 0px;
}

.secondary-nav .menu li.last {
	border-bottom: none;
}

.secondary-nav .menu a { color: #777777; display: block; padding: 5px; text-align: right;}
.secondary-nav .menu a:hover { color: #FFFFFF; text-decoration: none; }
.secondary-nav .menu a.active { color: #EBA713; }
/**
 * 	Header
 */
#zone-branding-wrapper {
	background-color: #222222;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#222222)); /* for webkit browsers */
	padding-top: 1px;
	box-shadow: 0 -10px 30px -10px #FFFFFF;
}
#zone-branding-inner-wrapper {
	border-top: 1px solid #3f3f3f;
	padding-top: 15px;
	padding-bottom: 35px;
}
#zone-menu-wrapper {
	background: #222222;
	padding-bottom: 1px;
	box-shadow: 0 10px 30px -10px #FFFFFF;
	margin-bottom: 10px;
}

#zone-menu-inner-wrapper {
	border-bottom: 1px solid #3f3f3f;
}

#branding-data { 
	margin-bottom: 35px;
}

/**
 * 	Treatments
 */

.dark-block {
	background-color: #222222;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#222222)); /* for webkit browsers */
	padding: 10px; 
	margin-bottom: 10px;
}
.dark-block .views-field-title a {
	font-size: 1.5em;
	color: #FFFFFF;
}

.dark-block .views-row {
	border-bottom: 1px solid #3F3F3F;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
.dark-block .views-row-last {
	border-bottom: none;
	margin-bottom: 0;
}

.date-byline {
	font-size: .9em;
	color: #666666;
}

.hackerspace-intro .pane-content {
	font-size: 1.2em;
	line-height: 2em;
}

.round {
	border-radius: 15px;
}

#homepage .grid-6 {
	width: 585px;
}

.know-more-list {
	list-style: none;
}

.know-more-list a {
	display: block;
	font-size: 1.3em;
	color: #FFFFFF;
	padding: 10px 0 10px 70px;
}

.know-more-list .know-more-read-faq a 	{ 	background: transparent url('../images/icons/question-mark.png') 10px center no-repeat; }
.know-more-list .know-more-contact a 	{ 	background: transparent url('../images/icons/envelope-icon.png') 10px center no-repeat;}
.know-more-list .know-more-classes a 	{	background: transparent url('../images/icons/graduation-cap.png') 10px center no-repeat; }
.know-more-list .know-more-beginners a 	{ 	background: transparent url('../images/icons/person-icon.png') 10px center no-repeat;}


/*** --- FRONTPAGE SLIDESHOW --- ***/
.flexslider {
    border: 4px solid #505050;
    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top,  #222222 55%, #505050 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,#222222), color-stop(100%,#505050)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #222222 55%,#505050 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #222222 55%,#505050 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #222222 55%,#505050 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #222222 55%,#505050 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#505050',GradientType=0 ); /* IE6-9 */
}

.flexslider .flex-direction-nav a {
    color: #FFFFFF;
    width: 50px;
    height: 80px;
}

.flex-text-wrapper {
    padding: 10px;
    position: absolute;
    bottom:0;
    width: 852px;
    background: #444444;
    opacity: .9;
}

.flex-text-title {
    font-size: 1.5em;
}

/**
 * Footer
 */

#section-footer {
    background: #222222;
    padding-top: 75px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}


#boxes-box-uas_address_box {
    background: url('../images/uas_logo_inverted.png') no-repeat center top;
    padding-top: 130px;
    text-align: center;
}

#boxes-box-uas_address_box .copyright-notice {
    color: #888888;
}

#section-footer .block-menu {
    text-align: right;
}

#section-footer ul.menu {
    text-align: right;
    list-style: none;
    font-size: 1.2em;
}

#section-footer ul.menu li {
    list-style-image: none;
    list-style-type: none;
}
#section-footer ul.menu li a {
    color: #FFFFFF;
    display: block;
}

#section-footer ul.menu li a:hover {
    color: #eba713;
    text-decoration: none;
}

#section-footer ul.menu li a.active {
    color: #ff4500;
}